body {
    font-family:Caudex;
    background-color: #61565b;
    color: white;  
    margin-left: 12em;
    margin-right: 12em;
}

h1, h2, h3, h4, h5, h6 {

    font-family:Roboto Mono;
    color: white;
    font-size: 45pt;
}
header {
    text-align: center;
}
#Rush, footer {
    background-color: #8b6d68;
    color: white;
    text-align: center;
    padding: 50px;
}
#Rush img {
    width: 250px;
    max-width: 100%;
}
#Bio {
    font-size: 50px;
    text-align: center;
    color: white;
}

#Hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* PHOTO GALLERY */

#Gallery {
    max-width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr; 
    }
    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: auto;
        margin-left: 1rem;
    }
}