body {
    font-family:Caudex;
    background-color: #61565b;
    color: white;  
}

h1, h2, h3, h4, h5, h6 {

    font-family:Roboto Mono;
    color: white;
    font-size: 45pt;
}
header {
    text-align: center;
}
#Rush, footer {
    border: solid #5ccfe0;
    background-color: #8b6d68;
    color: white;
    text-align: center;
    padding: 50px;
}
#Rush img {
    width: 250px;
    max-width: 100%;
}
#Bio {
    font-size: 50px;
    text-align: center;
    color: white;
}

/* PHOTO GALLERY */

#Gallery img {
    max-width: 100%;   
}
#Gallery figure {
    text-align: center;
}
blockquote {
    font-size: 1em ;
    line-height: 150%;
    color: gray;
}

body {
    margin-left: 12em;
    margin-right: 12em;
    color: white;
}
